body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color:#99ed7b;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid rgb(90, 211, 94);
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: rgb(59, 107, 65);
  font-size: 200%;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover {
  text-decoration: none;
}

#collapsable-nav {
  background-color:#E7E7E7;
}

#nav-list {
  margin-top: 5px;
}
#nav-list a {
  color: rgb(69, 73, 69);
  text-align: center
  
}
#nav-list a:hover {
  background: #cccccc;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #5e5c5d;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content {
  width: 92%;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.9em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(58, 158, 72);
}

#main-content h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1em;
}

#Chicken, #Beef, #Sushi {
  width: 100%;
  padding: 20px;
  background-color: #99ed7b;
  margin-bottom: 60px;
  box-shadow: 0 0 10px #18580b;
}
#main-content p {
  color: rgb(55, 97, 60);
  size: 5em;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
  #collapsable-nav {
    background-color:#99ed7b;
  }
  #navbar-header {
    height: 500px;
  }
  #header-nav {
    padding-bottom: 25px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #collapsable-nav {
    background-color:#99ed7b;
  }
  #header-nav {
    padding-bottom: 25px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #collapsable-nav {
    background-color:#99ed7b;
  }
  #header-nav {
    padding-bottom: 25px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
  }
  #collapsable-nav hr{
    border-top: 1px solid  rgb(15, 153, 36);
  }
}

  

  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

 
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }



  @media (max-width: 479px) {
    .navbar-brand h1 {
      padding-top: 5px;
      font-size: 6vw;
    }
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
  }